<div class="container box">
  <p class="title is-1">Cheapest Flights</p>
  <p ng-show="$ctrl.flights.flights && $ctrl.flights.flights.length > 0" class="subtitle is-4">{{ $ctrl.airports.from.name }} to {{ $ctrl.airports.to.name }}</p>

  <div class="notification" ng-hide="$ctrl.flights.flights && $ctrl.flights.flights.length > 0">
    We didn't find any flight with the provided search information.
  </div>

  <div ng-repeat="flight in $ctrl.flights.flights | orderBy:'price'" class="columns flight-info content">
    <div class="column is-4">
      <p class="title is-3">
        {{ $ctrl.airports.from.iataCode }} {{ $ctrl.getTime(flight.dateFrom) }}
      </p>
      <p class="subtitle is-8">
        {{ $ctrl.getDate(flight.dateFrom) }}
      </p>
    </div>
    <div class="column is-1">
        <svg viewBox="0 0 64 64" id="glyphs.flights" width="100%" height="100%"><path d="M56.5 16.8c-1.5-2.7-9.8-.9-12.5.6-.2.1-.4.3-.7.4l-4.5 3-19-12.2c-.8-.6-1.2-1-1.9-.6l-2.4 1.4c-1.6.9-1.2 1.1-.5 1.9l12.4 13.5 1.5 2.6-2.3 1.5c-2.9 1.6-6.1 4.2-8.5 6.6l-7.8-3.9c-1.2-.6-1.2-.9-1.9-.5-1.5.9-1.2.9-.5 1.9l5.3 6.6c.2.3.5.6.9.6-.1.3-.2.5-.1.6 0 .1.2.1.3.2-.1.3 0 .7.2 1l2.9 8c.5 1.1.3 1.4 1.9.5.7-.4.4-.5.5-1.9l.7-8.5c3.3-.9 7.3-2.2 10.2-3.9l2.5-1.2 1.5 2.6 5.1 17.6c.3 1 .3 1.4 1.9.5l2.4-1.4c.7-.4.6-1 .5-1.9l-.7-22.6 4.9-2.3c.3-.1.5-.2.7-.3 2.7-1.5 8.5-7.7 7-10.4z"></path></svg>
    </div>
    <div class="column is-4">
      <p class="title is-3">
        {{ $ctrl.airports.to.iataCode }} {{ $ctrl.getTime(flight.dateTo) }}
      </p>
      <p class="subtitle is-8">
        {{ $ctrl.getDate(flight.dateTo) }}
      </p>
    </div>
    <div class="column is-3">
      <p class="title is-2">
        {{ flight.price | currency:flight.currency }}
      </p>
    </div>
  </div>
</div>